[submodule "projects/Core/matplotlib-cpp"]
	path = projects/Core/matplotlib-cpp
	url = https://github.com/sadads1337/matplotlib-cpp.git
[submodule "projects/Core/benchmark"]
	path = projects/Core/benchmark
	url = https://github.com/google/benchmark
[submodule "projects/Core/aligned"]
	path = projects/Core/aligned
	url = https://github.com/sadads1337/aligned.git
[submodule "projects/Core/luna"]
	path = projects/Core/luna
	url = /home/imakarov/develop/local/fft/projects/Core/luna
